@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme='dark'] {
  @apply bg-black text-gray-100 transition-all duration-300;
}

[data-theme='light'] {
  @apply bg-white text-black transition-all duration-300;
}

.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.9;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 64px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax span {
  display: block;
  margin-right: 30px;
}

.card3 {
  @apply transition-colors duration-500;
}

.card3:hover {
  @apply bg-[#DADDE2] dark:bg-[#303030];
}

.card4 {
  @apply transition-colors duration-500;
}

.card4:hover {
  @apply bg-[#DADDE2] dark:bg-[#1f1f1f];
}

.homecard {
  @apply transition-colors duration-500  rounded-xl;
}

.homecard:hover {
  @apply bg-[#DADDE2] dark:bg-[#303030];
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* 
body {
  overflow: hidden;
} */

/* .nooverflow {
  overflow: hidden;
} */
